.navbar {
    color: #003A78;
}

.navbar-nav,
.nav-item {
    margin-left: auto;
}

.nav-item {
    margin-right: 50px;
}

.navbar-toggler {
    columns: #003a78;
}

.navbar-brand {
    margin-left: 150px;
}

.logo {
    height: 50px;
}